<h2>Highlight Panel</h2>
<div fxLayout="column">
  <div fxFlex="100">
    <div fxFlex="100" fxLayout="column" fxLayoutGap="20px">
      <iras-highlight-panel aria-label="HightLight Panel" [templateContentRef]="templateContentRef">
        <ng-template #templateContentRef>
          <div>
            <div>
              Ella Wong
            </div>
            <div>
              Singapore Citizen
            </div>
            <div>
              NRIC
            </div>
            <div>
              S1234567A
            </div>
          </div>
          <div>
            <div>
              Ella Wong
            </div>
            <div>
              Singapore Citizen
            </div>
            <div>
              NRIC
            </div>
            <div>
              S1234567A
            </div>
          </div>
        </ng-template>
      </iras-highlight-panel>
    </div>
  </div>
</div>
