<h3>Step Progress Bar</h3>
<div fxLayout="column" fxLayoutGap="20px">
  <div fxFlex="100" fxFlex.xs="100">
    <iras-stepper-view
      aria-label="Stepper View"
      [headings]="headingTitles"
      [activeIndex]="currentIndex"
    ></iras-stepper-view>
  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="10px" id="buttons_container">
    <iras-custom-button
      aria-label="Back"
      class="home__iras-button"
      buttonText="Back"
      (buttonClicked)="onStepBack()"
      fill="solid"
      shape="round"
      color="primary"
    ></iras-custom-button>
    <iras-custom-button
      aria-label="Next"
      class="home__iras-button"
      buttonText="Next"
      (buttonClicked)="onStepNext()"
      fill="outline"
      shape="round"
      color="primary"
    ></iras-custom-button>
  </div>

  <ng-template #modalContentRef>
    <div fxFlex="100" class="modal-content" fxLayoutAlign="center center" style="width: 300px; height: 350px;">
      <dialog-stepper [headings]="headingTitles" [activeIndex]="currentIndex" (dialogClose)="hideModal()">
      </dialog-stepper>
    </div>
  </ng-template>
</div>
